<launch>
  <arg name="camera" default="camera"/>
  <arg name="cmd_vel_topic" default="/cmd_vel_mux/input/navi"/>
  <arg name="launch_camera" default="true"/>
  <arg name="launch_base" default="true"/>
  <arg name="invert_angular" default="false"/>

  <group if="$(arg launch_base)">
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  </group>

  <group if="$(arg launch_camera)">
    <include file="$(find freenect_launch)/launch/freenect.launch">
      <arg name="camera" value="$(arg camera)"/>
      <arg name="depth_registration" value="false"/>
      <arg name="rgb_processing" value="true"/>
      <arg name="depth_processing" value="true"/>
    </include>
  </group>

  <node pkg="vision_perception_tasks" type="person_detector.py" name="person_detector" output="screen" respawn="true">
    <param name="image_topic" value="/$(arg camera)/rgb/image_raw"/>
    <param name="publish_debug" value="true"/>
    <param name="person_topic" value="/vision/person_target"/>
  </node>

  <node pkg="vision_motion_tasks" type="gaze_controller.py" name="gaze_controller" output="screen" respawn="true">
    <param name="person_topic" value="/vision/person_target"/>
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="vision_cmd_topic" value="vision"/>
    <param name="vision_back_topic" value="vision_back"/>
    <param name="start_enabled" value="true"/>
    <param name="kp_yaw" value="3.6"/>
    <param name="max_ang" value="1.8"/>
    <param name="min_ang" value="0.55"/>
    <param name="deadband" value="0.012"/>
    <param name="err_alpha" value="0.7"/>
    <param name="response_power" value="0.8"/>
    <param name="big_error_threshold" value="0.2"/>
    <param name="big_error_boost" value="1.35"/>
    <param name="lost_timeout" value="0.9"/>
    <param name="lost_hold_sec" value="0.4"/>
    <param name="invert_angular" value="$(arg invert_angular)"/>
  </node>
</launch>
